:root {
    --primary-color: #00a8ff;
    --text-color: #fff;
    --green: #0e7134;
    --blue-dark: #0972a6;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--primary-color);
    font-family: 'Work Sans', sans-serif;
    color: var(--text-color);
    line-height: 1.5em;

    .container {
        max-width: 700px;
        margin: 80px auto;
        background-color: var(--blue-dark);
        padding: 30px;
        border-radius: 10px;
        text-align: center;

        h1 {
            font-weight: 700;
            font-size: 40px;
            margin-bottom: 40px;

        }
        .show-cpf {
            font-weight: 600;
            letter-spacing: 5px;
        }
        button {
            cursor: pointer;
            border: none;
            border-radius: 5px;
            padding: 10px 40px;
            margin-bottom: 20px;
            color: var(--text-color);
            background-color: var(--primary-color);
        }
    }
}
